.trusted {
  padding-top: 80px;
}

.trusted-img {
  height: 100px;
  width: 150px;
}

.trusted h5 {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #1b9690;
  margin: 0;
}

.trusted-img-con {
  width: 4000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-right: 100px;
}

.marquee-container {
  width: 1300px !important;
}

.marquee {
  min-width: 1300px !important;
}

@media (min-width: 0) and (max-width: 768px) {
  .trusted {
    padding-top: 30px;
  }

  .marquee-container {
    width: 1300px !important;
  }

  .marquee {
    min-width: 1300px !important;
  }
}
