.home__bottom-section {
  color: #1b1d33;
  padding: 150px 0;
}

.home__bottom-section.darkerBg {
  padding: 50px 0 150px 0;
}

.bottom-container {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
}

.bottom-col {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#talents {
  padding: 48px;
  width: 906px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(20, 112, 108, 0.05);
  border-radius: 24px;
}

.bottom-col h2 {
  color: #14706c;
  width: 500px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.topline {
  width: 158px;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #1b9690;
  margin-top: 30px;
}

.bottom-col p {
  width: 758px;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-top: 30px;
}

#para {
  margin-top: -30px;
  width: 470px;
  height: 64px;
}
