.company-section {
  display: flex;
  width: 1149px;
  height: 432px;
  background-color: #f6ebe7;
  border-radius: 24px;
  padding: 50px;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
}

.company-headline {
  color: #14706c;
  width: 500px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.img-wrapper {
  position: relative;
  width: 609px;
  height: 406px;
}

.img-wrapper img {
  position: absolute;
  border-radius: 24px;
  left: 30px;
  top: -100px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.icon-wrapper {
  border: 1px solid #14706c;
  border-radius: 15px;
  background-color: #eff6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 64px;
  height: 64px;
  margin-bottom: 40px;
}

@media screen and (min-width: 200px) and (max-width: 960px) {
  .company-section {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-wrapper img {
    object-fit: cover;
    width: 303px;
    height: 298px;
    left: 10px;
    top: -80px;
  }

  .company-headline {
    width: 205px;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    margin: -30px 0 20px 0;
  }

  .icon-wrapper {
    width: 44px;
    height: 44px;
    padding: 10px;
  }

  .text-wrapper p {
    width: 326px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .text-wrapper button {
    width: 60%;
  }
}
