.founders {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  color: #fff;
  margin-top: 40px;
}

.founder-jeph {
  display: flex;
  width: 100%;
  height: 330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1d948ec5;
  border-radius: 20px;
  background-image: url("./asset/green-frame.png");
}

.founder-jeph img {
  object-fit: fill;
  width: 100%;
  height: 274px;
}

.founder-karen {
  display: flex;
  width: 100%;
  height: 330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7ccbc;
  border-radius: 20px;
  position: relative;
  background-image: url("./asset/orange-frame.png");
}

.founder-udoye {
  display: flex;
  width: 100%;
  height: 330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  background-image: url("./asset/orange-frame.png");
}

.founder-karen img {
  object-fit: fill;
  width: 100%;
  height: 274px;
  margin-top: 40px;
  outline: none;
}

.founder-llyod {
  display: flex;
  width: 100%;
  height: 330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d7bffada;
  border-radius: 20px;
  background-image: url("./asset/purple-frame.png");
}

.founder-llyod img {
  object-fit: fill;
  width: 100%;
  height: 274px;
}

.founder-udoye {
  display: flex;
  width: 100%;
  height: 330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #f7ccbc;
  position: relative;
  background-image: url("./asset/orange-frame.png");
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 100%;
}

.details h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
}

.details p {
  font-style: normal;
  margin: 2px 0 20px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

.details.jeph {
  background-color: #1b9690;
  margin-top: -75px;
}

.details.karen {
  background-color: #fb8f67;
  margin-top: -10px;
}

.details.udoye {
  background-color: #fb8f67;
  margin-top: -75px;
}

.details.lloyd {
  background-color: #9067c6;
  margin-top: -70px;
}

.detail-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.founder-icon-link svg {
  color: #fff;
}

.founder-icon-link svg:hover {
  color: yellowgreen;
}

@media (min-width: 600px) and (max-width: 992px) {
  .founders {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 50px
  }
}

@media (min-width: 0) and (max-width: 600px) {
  .founders {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px
  }
}

@media (min-width: 0) and (max-width: 960px) {
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 20px;
  }

  .details h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
  }

  .details p {
    font-style: normal;
    margin: 2px 0 20px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }

  .details.karen {
    margin-top: -70px;
  }

  .details.lloyd {
    margin-top: -80px;
  }

  .details.udoye {
    margin-top: -100px;
  }

  .detail-links {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .founder-icon-link svg {
    color: #fff;
  }

  .founder-icon-link svg:hover {
    color: yellowgreen;
  }
}
