.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin: 30px auto;
}

.grid img {
  border-radius: 20px;
  object-fit: cover;
}

.grid-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 597px;
}

.grid-two {
  gap: 20px;
  height: 597px;
}

.grid-two .img-six {
  margin-top: 20px;
  width: 100%;
  height: 210px;
}

.grid-three {
  display: flex;
  gap: 20px;
}
