.register-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.reg-logo {
  width: 1050px;
  margin: 20px auto;
}

.reg-logo span {
  color: #1b9690;
}

.reg-content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #dfebea;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.reg-content {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.reg-content h3 {
  color: #0d4a47;
  width: 462px;
  height: 64px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.reg-content span {
  color: #1b9690;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 400px;
  height: 738px;
}

#reg-para {
  width: 466px;
  height: 96px;
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  color: #252525;
  margin-bottom: 0;
}

.left img {
  width: 352px;
  height: 217px;
  border-radius: 20px;
}

.reg-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.reg-list ul {
  list-style-type: none;
}

.reg-list ul span {
  display: flex;
  gap: 5px;
}

.reg-list ul span img {
  width: 19px;
  height: 19px;
}

.reg-list li {
  width: 431px;
  height: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #252525;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #252525;
}

.reg-list small {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #252525;
}

.right {
  width: 588px;
  height: 738px;
  background: #eff6f6;
  box-shadow: 0px -4px 20px rgba(154, 196, 150, 0.05),
    0px 4px 30px rgba(97, 134, 196, 0.05);
  border-radius: 32px;
  padding: 30px;
}

/* Form styles */
.reg-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.reg-form-container form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px auto;
}
