.register-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.reg-logo {
  object-fit: cover;
  width: 1050px;
  margin: 20px auto;
}

#reg-icon {
  object-fit: cover;
  width: 200px;
}

.reg-logo span {
  color: #1b9690;
}

.reg-content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #dfebea;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.reg-content {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.reg-content h3 {
  color: #0d4a47;
  width: 462px;
  height: 64px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.reg-content span {
  color: #1b9690;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 400px;
  height: 738px;
}

#reg-para {
  width: 466px;
  height: 96px;
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  color: #252525;
  margin-bottom: 0;
}

.left img {
  width: 352px;
  height: 217px;
  border-radius: 20px;
}

.reg-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.reg-list ul {
  list-style-type: none;
}

.reg-list ul span {
  display: flex;
  gap: 5px;
}

.reg-list ul span img {
  width: 19px;
  height: 19px;
}

.reg-list li {
  width: 431px;
  height: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #252525;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #252525;
}

#terms {
  font-style: italic;
  font-size: 12px;
  color: rgba(14, 78, 131, 0.822);
  font-weight: 700;
  margin-top: -55px;
  margin-left: 25px;
}

.reg-list small {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #252525;
}

.right {
  width: 588px;
  height: 738px;
  background: #eff6f6;
  box-shadow: 0px -4px 20px rgba(154, 196, 150, 0.05),
    0px 4px 30px rgba(97, 134, 196, 0.05);
  border-radius: 32px;
  padding: 80px;
}

/* Form styles */
.reg-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.form-desc {
  width: 413px;
  height: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #605d62;
}

.reg-form-container form {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.form-one {
  gap: 20px;
  width: 100%;
}

.form-one input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  width: 472px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #9dcac8;
}

.form-one button {
  margin-top: 100px;
}

.form-two {
  width: 100%;
}

.form-two label {
  width: 472px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.form-two select {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 357px;
  width: 472px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #9dcac8;
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("./asset/dropdown.svg");
  background-repeat: no-repeat;
  background-position: center right 30px;
}

select:focus {
  outline: none;
}

.form-two input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  width: 472px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #9dcac8;
}

.form-two small {
  width: 472px;
  height: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  margin: 10px auto;
}

.form-two button {
  width: 100%;
}
